In [9]:
import patsy
import pandas as pd
import numpy as np

In [10]:
import requests
from bs4 import BeautifulSoup

In [11]:
url="https://data.world/prasert/rotten-tomatoes-top-movies-by-genre"
response=requests.get(url)
response

In [12]:
tables=pd.read_html(url)

ValueError: No tables found

In [13]:
#Importing data:
movies = pd.read_csv("../datasets/rotten_tomatoes_top_movies_2019-01-15.csv")
movies

,Rank,Title,RatingTomatometer,No. of Reviews,Genres
0,1,Black Panther (2018),97,444,action|adventure
1,2,Mad Max: Fury Road (2015),97,394,action|adventure
2,3,Wonder Woman (2017),93,410,action|adventure
3,4,Metropolis (1927),99,118,action|adventure
4,5,Coco (2017),97,308,action|adventure
...,...,...,...,...,...
1585,70,Priest (2011),15,97,western
1586,71,American Outlaws (2001),14,103,western
1587,72,September Dawn (2007),15,54,western
1588,73,Jonah Hex (2010),12,147,western
1589,74,Texas Rangers (2001),2,51,western

In [14]:
movies.pop("No. of Reviews")
movies

      Rank                      Title  RatingTomatometer            Genres
0        1       Black Panther (2018)                 97  action|adventure
1        2  Mad Max: Fury Road (2015)                 97  action|adventure
2        3        Wonder Woman (2017)                 93  action|adventure
3        4          Metropolis (1927)                 99  action|adventure
4        5                Coco (2017)                 97  action|adventure
...    ...                        ...                ...               ...
1585    70              Priest (2011)                 15           western
1586    71    American Outlaws (2001)                 14           western
1587    72      September Dawn (2007)                 15           western
1588    73           Jonah Hex (2010)                 12           western
1589    74       Texas Rangers (2001)                  2           western

[1590 rows x 4 columns]

In [15]:
# Getting series of lists by applying split operation.
movies.Genres = movies.Genres.str.split('|')
# Getting distinct genre types for generating columns of genre type.
Genres_columns = list(set([j for i in movies['Genres'].tolist() for j in i]))
# Iterating over every list to create and fill values into columns.
for j in Genres_columns:
    movies[j] = 0
for i in range(movies.shape[0]):
    for j in Genres_columns:
        if(j in movies['Genres'].iloc[i]):
            movies.loc[i,j] = 1
movies

,Rank,Title,RatingTomatometer,Genres,suspense,western,television,animation,adventure,kids,...,special_interest,mystery,romance,fantasy,science_fiction,drama,classics,horror,family,musical
0,1,Black Panther (2018),97,"[action, adventure]",0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Mad Max: Fury Road (2015),97,"[action, adventure]",0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Wonder Woman (2017),93,"[action, adventure]",0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Metropolis (1927),99,"[action, adventure]",0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Coco (2017),97,"[action, adventure]",0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1585,70,Priest (2011),15,[western],0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1586,71,American Outlaws (2001),14,[western],0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1587,72,September Dawn (2007),15,[western],0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1588,73,Jonah Hex (2010),12,[western],0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1589,74,Texas Rangers (2001),2,[western],0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Separting movie title and year part using split function.
split_values = movies['Title'].str.split("(", n = 1, expand = True)
# setting 'movie_title' values to title part.
movies.Title = split_values[0]
# creating 'release_year' column.
movies['release_year'] = split_values[1]
# Cleaning the release_year series.
movies['release_year'] = movies.release_year.str.replace(')','')
# dropping 'genre' columns as it has already been one hot encoded.
movies.drop('Genres',axis=1,inplace=True)
movies

C:\Users\frpro\AppData\Local\Temp/ipykernel_10060/2667739465.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  movies['release_year'] = movies.release_year.str.replace(')','')

,Rank,Title,RatingTomatometer,suspense,western,television,animation,adventure,kids,fitness,...,mystery,romance,fantasy,science_fiction,drama,classics,horror,family,musical,release_year
0,1,Black Panther,97,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2018
1,2,Mad Max: Fury Road,97,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2015
2,3,Wonder Woman,93,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2017
3,4,Metropolis,99,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1927
4,5,Coco,97,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1585,70,Priest,15,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2011
1586,71,American Outlaws,14,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2001
1587,72,September Dawn,15,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2007
1588,73,Jonah Hex,12,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2010
1589,74,Texas Rangers,2,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2001

In [33]:
movies.columns

Index(['Rank', 'Title', 'RatingTomatometer', 'suspense', 'western',
       'television', 'animation', 'adventure', 'kids', 'fitness',
       'international', 'comedy', 'action', 'art_house', 'performing_arts',
       'sports', 'documentary', 'special_interest', 'mystery', 'romance',
       'fantasy', 'science_fiction', 'drama', 'classics', 'horror', 'family',
       'musical', 'release_year'],
      dtype='object')

In [37]:
import ipywidgets as pip
from ipywidgets import *
from IPython.display import display

In [47]:
#defining widgets
text = widgets.Text(value='Movie Title',description="Title")
slider = widgets.IntSlider(value=2000,min=1900,max=2022,step=1)
menu = widgets.Dropdown(options=['Choose genre','suspense', 'western','television', 'animation', 'adventure', 'kids', 'fitness','international', 'comedy', 'action', 'art_house', 'performing_arts','sports', 'documentary', 'special_interest', 'mystery', 'romance','fantasy', 'science_fiction', 'drama', 'classics', 'horror', 'family','musical'],value='Choose genre',description='Genre:')
menu
slider
text

Text(value='Movie Title', description='Title')

In [48]:
checkbox1 = widgets.Checkbox(
           description='Check to sort by Year')
checkbox2 = widgets.Checkbox(
           description='Check to sort by Genre')
box = widgets.VBox([text, slider, menu, checkbox1, checkbox2 ])
box

VBox(children=(Text(value='Movie Title', description='Title'), IntSlider(value=2000, max=2022, min=1900), Drop…